## Filtering

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./dirty/dirty_data.csv")

In [3]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [4]:
df.tail()

    Duration          Date  Pulse  Maxpulse  Calories
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [5]:
df.shape

(32, 5)

In [6]:
df.iloc[0:2, 0:2]

   Duration          Date
0        60  '2020/12/01'
1        60  '2020/12/02'

In [7]:
df.loc[0:2, ["Duration", "Maxpulse"]]

   Duration  Maxpulse
0        60       130
1        60       145
2        60       135

In [8]:
df_filtered = df.loc[df["Maxpulse"] > 130]

In [9]:
df_filtered

    Duration          Date  Pulse  Maxpulse  Calories
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
10        60  '2020/12/11'    103       147     329.3
14        60  '2020/12/14'    104       132     379.3
21        60  '2020/12/21'    108       131     364.2
24        45  '2020/12/24'    105       132     246.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0

In [10]:
df.loc[df["Pulse"] > 110, ['Maxpulse']]

    Maxpulse
1        145
4        148
23       101

In [11]:
# Jika Durasinya 45, 50
df[df["Duration"].isin([45, 450])]

    Duration          Date  Pulse  Maxpulse  Calories
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
7        450  '2020/12/08'    104       134     253.3
18        45  '2020/12/18'     90       112       NaN
20        45  '2020/12/20'     97       125     243.0
22        45           NaN    100       119     282.0
24        45  '2020/12/24'    105       132     246.0

In [12]:
import numpy as np

In [13]:
condition1 = (df["Calories"] >= 400)

In [14]:
condition2 = (df["Pulse"] > 90)

In [15]:
df.loc[np.where(condition1 & condition2)]

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
4        45  '2020/12/05'    117       148     406.0

## Sorting

In [16]:
df.sort_values(by=['Pulse'], ascending=False).head()

    Duration          Date  Pulse  Maxpulse  Calories
23        60  '2020/12/23'    130       101     300.0
4         45  '2020/12/05'    117       148     406.0
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1
6         60  '2020/12/07'    110       136     374.0

In [17]:
df.sort_values(by=["Calories"], ascending=True).head()

    Duration          Date  Pulse  Maxpulse  Calories
8         30  '2020/12/09'    109       133     195.1
16        60  '2020/12/16'     98       120     215.2
27        60  '2020/12/27'     92       118     241.0
31        60  '2020/12/31'     92       115     243.0
20        45  '2020/12/20'     97       125     243.0

## Mutating => Mengubah nilai tertentu dengan kondisi tertentu

In [18]:
# Kolom baru ketika maxpulsenya lebih dari 130, maka isi High jika
# true dan Low jika False
df["Level"] = np.where(df["Maxpulse"] > 130, "High", "Low")

In [19]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories Level
0        60  '2020/12/01'    110       130     409.1   Low
1        60  '2020/12/02'    117       145     479.0  High
2        60  '2020/12/03'    103       135     340.0  High
3        45  '2020/12/04'    109       175     282.4  High
4        45  '2020/12/05'    117       148     406.0  High

In [20]:
df['year'] = "2020"

In [21]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories Level  year
0        60  '2020/12/01'    110       130     409.1   Low  2020
1        60  '2020/12/02'    117       145     479.0  High  2020
2        60  '2020/12/03'    103       135     340.0  High  2020
3        45  '2020/12/04'    109       175     282.4  High  2020
4        45  '2020/12/05'    117       148     406.0  High  2020

## Menerapkan Grouping Pada DataFrame

In [22]:
# Grouping level, lalu lihat rata-rata maxpulse di setiap groupnya
df.groupby("Level")["Maxpulse"].agg(["mean"])

             mean
Level
High   139.384615
Low    121.052632

In [23]:
df.groupby("Level")["Maxpulse"].agg(["mean", "sum"])

             mean   sum
Level
High   139.384615  1812
Low    121.052632  2300

## Menerapkan Concatinating Pada DataFrame

In [24]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories Level  year
0        60  '2020/12/01'    110       130     409.1   Low  2020
1        60  '2020/12/02'    117       145     479.0  High  2020
2        60  '2020/12/03'    103       135     340.0  High  2020
3        45  '2020/12/04'    109       175     282.4  High  2020
4        45  '2020/12/05'    117       148     406.0  High  2020

In [25]:
add_df = pd.DataFrame({
    "Duration": [120, 130, 110],
    "Date": ["2020/12/01", "2020/12/04", "2020/12/04"],
    "Pulse": [110, 120, 130],
    "Maxpulse": [135, 145, 175],
    "Calories": [400.0, 420.0, 430.0],
    "Level": ["Low", "Low", "High"],
    "Year": [2020, 2020, 2020]
})

In [26]:
add_df

   Duration        Date  Pulse  Maxpulse  Calories Level  Year
0       120  2020/12/01    110       135     400.0   Low  2020
1       130  2020/12/04    120       145     420.0   Low  2020
2       110  2020/12/04    130       175     430.0  High  2020

In [27]:
df.head()

   Duration          Date  Pulse  Maxpulse  Calories Level  year
0        60  '2020/12/01'    110       130     409.1   Low  2020
1        60  '2020/12/02'    117       145     479.0  High  2020
2        60  '2020/12/03'    103       135     340.0  High  2020
3        45  '2020/12/04'    109       175     282.4  High  2020
4        45  '2020/12/05'    117       148     406.0  High  2020

In [28]:
# Pastikan dulu datanya harus punya kolom yang sama
frames = [df, add_df]

In [29]:
new_df = pd.concat(frames, axis=0)

In [30]:
new_df.tail()

    Duration          Date  Pulse  Maxpulse  Calories Level  year    Year
30        60  '2020/12/30'    102       129     380.3   Low  2020     NaN
31        60  '2020/12/31'     92       115     243.0   Low  2020     NaN
0        120    2020/12/01    110       135     400.0   Low   NaN  2020.0
1        130    2020/12/04    120       145     420.0   Low   NaN  2020.0
2        110    2020/12/04    130       175     430.0  High   NaN  2020.0

In [31]:
more_df = pd.DataFrame({
    "Name": ["Angga", "Mardadi", "Rowi"],
    "Domicile": ["Depok", "Depok", "Depok"]
})

In [32]:
frames = [add_df, more_df]

In [33]:
new_df = pd.concat(frames, axis=1)

In [34]:
new_df

,Duration,Date,Pulse,Maxpulse,Calories,Level,Year,Name,Domicile
0,120,2020/12/01,110,135,400.0,Low,2020,Angga,Depok
1,130,2020/12/04,120,145,420.0,Low,2020,Mardadi,Depok
2,110,2020/12/04,130,175,430.0,High,2020,Rowi,Depok

In [35]:
add_df = pd.DataFrame({
    "ID": [1, 2, 3],
    "Duration": [120, 130, 120],
    "Date": ["2020/12/01", "2020/12/04", "2020/12/04"],
    "Pulse": [110, 120, 130],
    "Maxpulse": [135, 145, 175],
    "Calories": [400.0, 420.0, 430.0],
    "Level": ["Low", "Low", "High"],
    "Year": [2020, 2020, 2020]
})

In [36]:
more_df = pd.DataFrame({
    "ID": [3, 4, 5],
    "Name": ["Angga", "Mardadi", "Rowi"],
    "Domicile": ["Depok", "Depok", "Depok"]
})

In [37]:
# gabungkan data add_df, more_df, lalu diblending berdasarkan ID
# Datanya digabungkan dengan cara inner/beririsan
pd.merge(left=add_df, right=more_df, how='inner', on='ID')

,ID,Duration,Date,Pulse,Maxpulse,Calories,Level,Year,Name,Domicile
0,3,120,2020/12/04,130,175,430.0,High,2020,Angga,Depok

In [38]:
pd.merge(left=add_df, right=more_df, how='outer', on='ID')

,ID,Duration,Date,Pulse,Maxpulse,Calories,Level,Year,Name,Domicile
0,1,120.0,2020/12/01,110.0,135.0,400.0,Low,2020.0,NaN,NaN
1,2,130.0,2020/12/04,120.0,145.0,420.0,Low,2020.0,NaN,NaN
2,3,120.0,2020/12/04,130.0,175.0,430.0,High,2020.0,Angga,Depok
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mardadi,Depok
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rowi,Depok

In [39]:
# prioritaskan sisi kirinya
pd.merge(left=add_df, right=more_df, how='left', on='ID')

,ID,Duration,Date,Pulse,Maxpulse,Calories,Level,Year,Name,Domicile
0,1,120,2020/12/01,110,135,400.0,Low,2020,NaN,NaN
1,2,130,2020/12/04,120,145,420.0,Low,2020,NaN,NaN
2,3,120,2020/12/04,130,175,430.0,High,2020,Angga,Depok

In [40]:
# prioritaskan sisi kanannya
pd.merge(left=add_df, right=more_df, how='right', on='ID')

,ID,Duration,Date,Pulse,Maxpulse,Calories,Level,Year,Name,Domicile
0,3,120.0,2020/12/04,130.0,175.0,430.0,High,2020.0,Angga,Depok
1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mardadi,Depok
2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rowi,Depok

## Menerapkan Saving pada DataFrame

In [41]:
df.to_csv("./data/new_dataku.csv")

## Mengatasi Missing Values dengan Drop Data

In [42]:
pd.options.display.max_rows = 9999

In [44]:
df = pd.read_csv("./dirty/dirty_data.csv")

In [45]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [46]:
df = df.dropna()

In [47]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Mengatasi Missing Values dengan Nilai Baru

In [49]:
df = pd.read_csv("./dirty/dirty_data.csv")

In [51]:
df.fillna(100, inplace=True)

In [52]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     100.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           100    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     100.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [54]:
df = pd.read_csv("./dirty/dirty_data.csv")
df["Calories"].fillna(100, inplace=True)

In [55]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     100.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     100.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Mengatasi Missing Values dengan Mean

In [56]:
df = pd.read_csv("./dirty/dirty_data.csv")
x = df["Calories"].mean()

In [57]:
df["Calories"].fillna(x, inplace=True)

In [58]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

## Mengatasi Missing Values dengan Median

In [59]:
df = pd.read_csv("./dirty/dirty_data.csv")
x = df["Calories"].median()

In [60]:
df["Calories"].fillna(x, inplace=True)

In [61]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Mengatasi Missing Values dengan Mode

In [63]:
df = pd.read_csv("./dirty/dirty_data.csv")
x = df["Calories"].mode()[0]

In [64]:
df["Calories"].fillna(x, inplace=True)

In [66]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     300.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Drop Duplikat

In [68]:
df = pd.read_csv("./dirty/dirty_data.csv")
df.drop_duplicates(inplace=True)

In [69]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Mengatasi Wrong Format dengan Ubah Format

In [82]:
df = pd.read_csv("./dirty/dirty_data.csv")

In [83]:
df["Date"] = pd.to_datetime(df["Date"], format="mixed")

In [84]:
df["Date"]

0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-12
13   2020-12-13
14   2020-12-14
15   2020-12-15
16   2020-12-16
17   2020-12-17
18   2020-12-18
19   2020-12-19
20   2020-12-20
21   2020-12-21
22          NaT
23   2020-12-23
24   2020-12-24
25   2020-12-25
26   2020-12-26
27   2020-12-27
28   2020-12-28
29   2020-12-29
30   2020-12-30
31   2020-12-31
Name: Date, dtype: datetime64[ns]

In [85]:
df["Calories"] = pd.to_numeric(df["Calories"])

In [86]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [87]:
df.dropna(subset=["Date"], inplace=True)

In [91]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         60 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

## Mengatasi Wrong Data dengan Ubah Data

In [89]:
df.loc[7, "Duration"] = df["Duration"].mode()[0]

In [90]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         60 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [92]:
df = pd.read_csv("./dirty/dirty_data.csv")

In [93]:
for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.loc[x, "Duration"] = 120

In [94]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        120  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Mengatasi Wrong Data dengan Drop Data

In [95]:
df = pd.read_csv("./dirty/dirty_data.csv")

In [96]:
df.drop(7, inplace=True)

In [97]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [98]:
df = pd.read_csv("./dirty/dirty_data.csv")
for x in df.index:
    if df.loc[x, "Duration"] > 120:
        df.drop(x, inplace=True)

In [99]:
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0